// 字体
.t1 {
  font-size: 36px;
  font-weight: bold;
  color: $hezi-text-color;
}

.t2 {
  font-size: 32px;
  font-weight: bold;
  color: $hezi-text-color;
}

.t3 {
  font-size: 28px;
  font-weight: bold;
  color: $hezi-text-color;
}

.t4 {
  font-size: 28px;
  color: $hezi-text-color;
}

.t5 {
  font-size: 26px;
  color: $hezi-text-color;
}

.t6 {
  font-size: 24px;
  color: $hezi-text-color;
}

.t7plus {
  font-size: 22px;
  color: $hezi-text-color-light;
}
.t10 {
  font-size: 22px;
  color: $hezi-text-color;
}

.t7 {
  font-size: 20px;
  color: $hezi-text-color-light;
}

.t8 {
  font-size: 18px;
  color: $hezi-text-color-light;
}

.t9 {
  font-size: 16px;
  color: $hezi-text-color-light;
}

// 颜色类
// 文字
.text-primary {
  color: $hezi-color-primary;
}

.text-secondary {
  color: $hezi-color-secondary;
}

.text-warning {
  color: $hezi-color-warning;
}

.text-success {
  color: $hezi-color-success;
}

.text-error {
  color: $hezi-color-primary-500;
}

.text-light {
  color: $hezi-text-color-light;
}

.text-gray {
  color: $hezi-text-color-dark-gray;
}

.text-gray-light {
  color: $hezi-text-color-gray;
}

.text-dark {
  color: $hezi-text-color;
}

.text-white {
  color: #fff;
}

.text-member {
  color: $hezi-text-color-member;
}

.text-baiyin {
  color: #3a547d;
}
.text-huangjin {
  color: #7e462d;
}
.text-zuanshi {
  color: #fdefde;
}

.text-custom {
  color: $hezi-color-customMade;
}

.text-center {
  text-align: center;
}

.text-decoration {
  text-decoration: line-through;
}

.bg-customMade {
  background: #c69d55;
}

.text-left {
  text-align: left;
}

.opacity-7 {
  opacity: 0.7;
}

// 字重
.bold {
  font-weight: bold;
}
.font-normal {
  font-weight: normal;
}

// 主题色，即背景色，附带字体颜色以及disabled和交互色
.primary {
  color: #fff;
  background-color: $hezi-color-primary;

  &.disabled {
    opacity: 0.4;
  }
}

.secondary {
  color: #fff;
  background-color: $hezi-color-secondary;

  &.disabled {
    opacity: 0.4;
  }

  // &:hover {
  //   background-color: $hezi-color-secondary-dark;
  // }
}

.warning {
  color: #fff;
  background-color: $hezi-color-warning;

  &.disabled {
    opacity: 0.4;
  }
}

.success {
  color: #fff;
  background-color: $hezi-color-success;

  &.disabled {
    opacity: 0.4;
  }
}

.custom {
  color: #fff;
  background-color: $hezi-color-customMade;

  &.disabled {
    opacity: 0.4;
  }
}

.alipay {
  color: #fff;
  background-color: #1677ff;

  &.disabled {
    opacity: 0.4;
  }
}

// 渐变色
.primary-gradient {
  background-image: linear-gradient(
    270deg,
    $hezi-color-primary-500 0%,
    $hezi-color-primary 100%
  );
}
.secondary-gradient {
  background-image: linear-gradient(
    270deg,
    $hezi-color-secondary-500 100%,
    $hezi-color-secondary-400 100%
  );
}
.secondary-gradient-light {
  background-image: linear-gradient(
    270deg,
    $hezi-color-secondary-300 100%,
    $hezi-color-secondary-100 100%
  );
}
.gray-gradient {
  background-image: linear-gradient(270deg, #ddd 100%, $hezi-gray-icon 100%);
}

// 投影
.shadow {
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);
}
.shadow-primary {
  box-shadow: 0 4px 16px 0px rgba($color: $hezi-color-primary, $alpha: 0.3);
}
.shadow-secondary {
  box-shadow: 0 4px 16px 0px rgba($color: $hezi-color-secondary, $alpha: 0.3);
}
.shadow-success {
  box-shadow: 0 4px 16px 0px rgba($color: $hezi-color-success, $alpha: 0.3);
}
.shadow-warning {
  box-shadow: 0 4px 16px 0px rgba($color: $hezi-color-warning, $alpha: 0.3);
}

// 按钮
.button-group {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  .button {
    flex: none;
    &:last-child {
      margin-right: 0;
    }
  }

  &.full {
    width: 100%;
    padding: 0 48px;
  }
}

button[disabled] {
  opacity: 0.4;
}
.button {
  margin: 0;
}

// .button,
// button.button,
// button[type='primary'].button,
// button[type='default'].button {
.button,
button.button {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: none;
  outline: none;
  border-radius: 42px;
  font-size: 28px;
  line-height: 1;
  transition: opacity 0.3s;
  padding: 0 76px;
  height: 92px;
  line-height: 92px;
  min-width: 264px;

  &.button-xxs {
    min-width: 136px;
    border-radius: 28px;
    height: 56px;
    padding: 12px 20px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.button-xs {
    height: 60px;
    line-height: 60px;
    font-size: 22px;
    min-width: 144px;
    padding: 0 16px;
  }

  &.button-sm {
    height: 72px;
    line-height: 72px;
    font-size: 24px;
    min-width: 160px;
    padding: 0 20px;
  }

  &.button-md {
    height: 80px;
    line-height: 80px;
    font-size: 28px;
  }

  &.button-lg {
    height: 100px;
    line-height: 100px;
    border-radius: 60px;
    font-size: 36px;
  }

  &.disabled {
    @extend .gray-gradient;
  }

  &.square {
    // @extend .round-sm;
    border-radius: 8px;
  }

  &.row {
    width: 100%;
  }

  &.is-plain {
    background-color: $hezi-background-white;
    border: 1px solid $hezi-text-color;
    color: $hezi-text-color;
  }

  &.is-plain-primary {
    background-color: $hezi-background-white;
    border: 1px solid $hezi-color-primary;
    color: $hezi-color-primary;
  }

  &.is-plain-secondary {
    background-color: $hezi-background-white;
    border: 1px solid $hezi-color-secondary;
    color: $hezi-color-secondary;
  }

  &.is-plain-warning {
    background-color: $hezi-background-white;
    border: 1px solid $hezi-color-warning;
    color: $hezi-color-warning;
  }

  &.is-plain-grey {
    background-color: $hezi-background-white;
    border: 1px solid #dddddd;
    color: $hezi-text-color;
  }

  &.button-primary {
    @extend .primary;
    // @extend .primary-gradient;

    &.shadow {
      @extend .shadow-primary;
    }
  }

  &.button-secondary {
    @extend .secondary;
    // @extend .secondary-gradient;

    &.shadow {
      @extend .shadow-secondary;
    }
  }

  &.button-warning {
    @extend .warning;

    &.shadow {
      @extend .shadow-warning;
    }
  }

  &.button-success {
    @extend .success;

    &.shadow {
      @extend .shadow-success;
    }
  }

  &.button-custom {
    @extend .custom;

    // &.shadow {
    //   @extend .shadow-custom;
    // }
  }

  &.button-alipay {
    @extend .alipay;
  }

  &.bold {
    font-weight: bold;
  }
}

button:after {
  content: none;
  border: none;
}

.card {
  background-color: $hezi-background-white;
  display: inline-block;
  zoom: 1;
  box-sizing: border-box;

  @extend .round-md;

  &.border {
    border: 1px solid $hezi-color-secondary-300;
  }
}

// 间距
@for $distance from 1 through 80 {
  .p-#{$distance*2} {
    padding: $distance * 2px;
  }
  .px-#{$distance*2} {
    padding-left: $distance * 2px;
    padding-right: $distance * 2px;
  }
  .py-#{$distance*2} {
    padding-top: $distance * 2px;
    padding-bottom: $distance * 2px;
  }
  .pt-#{$distance*2} {
    padding-top: $distance * 2px;
  }
  .pb-#{$distance*2} {
    padding-bottom: $distance * 2px;
  }
  .pl-#{$distance*2} {
    padding-left: $distance * 2px;
  }
  .pr-#{$distance*2} {
    padding-right: $distance * 2px;
  }
  .m-#{$distance*2} {
    margin: $distance * 2px;
  }
  .mx-#{$distance*2} {
    margin-left: $distance * 2px;
    margin-right: $distance * 2px;
  }
  .my-#{$distance*2} {
    margin-top: $distance * 2px;
    margin-bottom: $distance * 2px;
  }
  .mt-#{$distance*2} {
    margin-top: $distance * 2px;
  }
  .mb-#{$distance*2} {
    margin-bottom: $distance * 2px;
  }
  .ml-#{$distance*2} {
    margin-left: $distance * 2px;
  }
  .mr-#{$distance*2} {
    margin-right: $distance * 2px;
  }
  .lh-#{$distance*2} {
    line-height: $distance * 2px;
  }
}
.lh {
  line-height: 1.4;
}

// 圆角
.round,
.round-md {
  border-radius: 12px;
}
.round-xs {
  border-radius: 4px;
}
.round-sm {
  border-radius: 8px;
}
.round-lg {
  border-radius: 16px;
}
.round-btn {
  border-radius: 32px;
}
.round-semicircle {
  border-radius: 40px;
}
.round-full {
  border-radius: 50%;
}

// flex 布局
.flex {
  display: flex;
  flex-wrap: nowrap;
}

.flex.flex-col {
  flex-direction: column;
}

.flex.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-x-center {
  justify-content: center;
}

.flex-y-center {
  align-items: center;
}

.flex-y-end {
  align-items: flex-end;
}

.flex-between {
  justify-content: space-between;
}

.mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $hezi-gray-mask;
}

.full {
  box-sizing: border-box;
  width: 100%;
}

.tag {
  @extend .round-xs;

  display: inline-block;
  box-sizing: border-box;

  padding: 4px 8px;
  border: 1px solid currentColor;
  &.no-border {
    border: none;
  }
}

.lineOmit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.divider-line {
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background: #eeeeee;
}

.line-height-1-4 {
  line-height: 1.4;
}

page {
  @extend .t4;
  // line-height: 1.4;
}

// 设置全局为border-box盒模型
view,
scroll-view {
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: inherit;
  }
}

// a标签默认主题色
navigator {
  color: $hezi-color-primary;
}

textarea {
  margin: var(--textarea-inside-margin);
}

.taro-img,
image {
  width: 100%;
}

@supports (bottom: constant(safe-area-inset-bottom)) or
  (bottom: env(safe-area-inset-bottom)) {
  // 控制选择器优先级低于页面上的类选择器
  .iphonex-fixed-padding {
    padding-bottom: constant(safe-area-inset-bottom) !important;
    padding-bottom: env(safe-area-inset-bottom) !important;
  }

  .iphonex-fixed-margin {
    margin-bottom: constant(safe-area-inset-bottom) !important;
    margin-bottom: env(safe-area-inset-bottom) !important;

    &::after {
      background: #fff;
      width: 100%;
      height: env(safe-area-inset-bottom) !important;
      height: constant(safe-area-inset-bottom) !important;
      content: '';
      position: absolute;
      left: 0;
      top: 100%;
    }
  }
}
