.defaultIndex {
  .rectangular-demo {
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
  }

  .card {
    min-height: 200px;
  }
  .line-height {
    line-height: 1.4;
  }

  .textdefault view {
    // border: 1Px solid #888;
  }
}
